{{ $item := . }}

<div class="paper-item row view-citation" style="">


  <div class="col-12 col-md-3">
    <div class="pub-journal">{{ $item.journal | markdownify | safeHTML}} ({{$item.year}}) </div>
    {{ if $item.links}}
      <div>
        {{ range $item.links }}
          {{- $url := .url -}}
          {{- if eq .link_type "local" -}}
            {{- $url = .url | relURL -}}
          {{- end -}}
          <a class="btn btn-outline-primary btn-page-header btn-sm" target="_blank" href="{{ $url }}">{{ .text }}</a>
        {{ end }}
      </div>
    {{ end }}
  </div>
  <div class="col-12 col-md-9">
    <div class="pub-title"><i class="far fa-file-alt pub-icon" aria-hidden="true"></i> {{ $item.title | markdownify | safeHTML}}</div>
    <div class="pub-author">{{ $item.authors_text | markdownify | safeHTML}}</div>

  </div>


</div>
